<header class="header_area" style="position: fixed">
  <div class="main_menu" style="background-color: blue">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" href="index.html"
          ><img src="assets/img/logo.png" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon-bar"></span> <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div
          class="collapse navbar-collapse offset"
          id="navbarSupportedContent"
        >
          <ul class="nav navbar-nav menu_nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="dashboardStudent">Student</a>
            </li>
            <li class="nav-item submenu dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Admin</a
              >
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="nav-link" routerLink="dashboardAdmin">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="addClass">Add Class</a>
                </li>
              </ul>
            </li>
            <li class="nav-item submenu dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Teacher</a
              >
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="nav-link" routerLink="dashboardTeacher"
                    >Dashboard</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="addCourse">Add Course</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="addEvaluation"
                    >Add Evaluation</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item submenu dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Parent</a
              >
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="nav-link" routerLink="searchTeacher"
                    >Find Teacher</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="searchClass"
                    >My Child Classes</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="searchEvaluation"
                    >My Child Evaluation</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item submenu dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Signup</a
              >
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a class="nav-link" routerLink="signup">Admin?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="register">Teacher?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="inscription">Student?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="checkIn">Parent?</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="login">Login</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn()">
              <a class="nav-link" (click)="logout()">Logout</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link search" id="search">
                <i class="ti-search"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
