<!--================ Start Home Banner Area =================-->
<app-hero></app-hero>
<!--================ End Home Banner Area =================-->
<app-trainers></app-trainers>
<!--================ Start Feature Area =================-->
<app-registration></app-registration>
<app-feature></app-feature>
<app-courses></app-courses>

<!--================ Start Registration Area =================-->

<!--================ End Registration Area =================-->

<!--================ Start Trainers Area =================-->

<!--================ End Trainers Area =================-->

<!--================ Start Events Area =================-->
<app-events></app-events>
<!--================ End Events Area =================-->
